/* _content/REAL_ESTATE_CLEAN/Pages/LeadActivity.razor.rz.scp.css */
.activity-list[b-4aiwuzdnnn]
{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:30px;
}


.activity-card[b-4aiwuzdnnn]
{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}


.activity-card h3[b-4aiwuzdnnn]
{
    margin-bottom:10px;
    font-size:20px;
}


.activity-card p[b-4aiwuzdnnn]
{
    font-size:16px;
}


.activity-card span[b-4aiwuzdnnn]
{
    display:inline-block;
    margin-top:10px;
    padding:6px 12px;
    border-radius:10px;
}


.activity-card small[b-4aiwuzdnnn]
{
    display:block;
    margin-top:10px;
}
/* _content/REAL_ESTATE_CLEAN/Pages/LeadCall.razor.rz.scp.css */
.call-list[b-fgh7upu8rd]
{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:30px;
}


.call-card[b-fgh7upu8rd]
{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}


.call-card h3[b-fgh7upu8rd]
{
    font-size:20px;
    margin-bottom:12px;
}


.call-card p[b-fgh7upu8rd]
{
    margin:8px 0;
}


.call-card b[b-fgh7upu8rd]
{
    font-weight:bold;
}


.call-card small[b-fgh7upu8rd]
{
    display:block;
    margin-top:15px;
}
/* _content/REAL_ESTATE_CLEAN/Pages/LeadDashboard.razor.rz.scp.css */
.dashboard-grid[b-915pi3fvn9]
{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    margin-top:30px;
}


.card[b-915pi3fvn9]
{
    background:white;
    border-radius:15px;
    padding:25px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
    transition:0.3s;
}


.card:hover[b-915pi3fvn9]
{
    transform:translateY(-5px);
}


.card h3[b-915pi3fvn9]
{
    font-size:18px;
    margin-bottom:15px;
    color:#555;
}


.card p[b-915pi3fvn9]
{
    font-size:32px;
    font-weight:bold;
    color:#1f6feb;
}
/* _content/REAL_ESTATE_CLEAN/Pages/LeadMeeting.razor.rz.scp.css */
.meeting-list[b-krejrz84lt]
{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:30px;
}


.meeting-card[b-krejrz84lt]
{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}


.meeting-card h3[b-krejrz84lt]
{
    font-size:20px;
    margin-bottom:10px;
}


.meeting-card p[b-krejrz84lt]
{
    color:#555;
    margin-bottom:15px;
}


.meeting-card b[b-krejrz84lt]
{
    font-weight:bold;
}


.meeting-card div[b-krejrz84lt]
{
    margin-top:8px;
}
/* _content/REAL_ESTATE_CLEAN/Pages/LeadPipeline.razor.rz.scp.css */
.pipeline[b-gok831rspq]
{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-top:30px;
}


.stage[b-gok831rspq]
{
    width:220px;
    min-height:150px;
    background:white;
    border-radius:15px;
    padding:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}


.stage h3[b-gok831rspq]
{
    margin-bottom:20px;
    font-size:20px;
}


.count[b-gok831rspq]
{
    font-size:30px;
    font-weight:bold;
}
/* _content/REAL_ESTATE_CLEAN/Pages/LeadSms.razor.rz.scp.css */
.sms-list[b-2snczp81ur]
{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:30px;
}


.sms-card[b-2snczp81ur]
{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}


.sms-card h3[b-2snczp81ur]
{
    font-size:20px;
    margin-bottom:10px;
}


.sms-card p[b-2snczp81ur]
{
    color:#555;
    line-height:1.5;
}


.sms-card b[b-2snczp81ur]
{
    font-weight:bold;
}


.sms-card small[b-2snczp81ur]
{
    display:block;
    margin-top:15px;
}
/* _content/REAL_ESTATE_CLEAN/Pages/LeadTask.razor.rz.scp.css */
.task-list[b-oqn7q796iz]
{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:30px;
}


.task-card[b-oqn7q796iz]
{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}


.task-card h3[b-oqn7q796iz]
{
    font-size:20px;
    margin-bottom:10px;
}


.task-card p[b-oqn7q796iz]
{
    color:#555;
}


.task-card b[b-oqn7q796iz]
{
    font-weight:bold;
}


.task-card small[b-oqn7q796iz]
{
    display:block;
    margin-top:15px;
}
