.task-list[b-oqn7q796iz]
{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:30px;
}


.task-card[b-oqn7q796iz]
{
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}


.task-card h3[b-oqn7q796iz]
{
    font-size:20px;
    margin-bottom:10px;
}


.task-card p[b-oqn7q796iz]
{
    color:#555;
}


.task-card b[b-oqn7q796iz]
{
    font-weight:bold;
}


.task-card small[b-oqn7q796iz]
{
    display:block;
    margin-top:15px;
}
